a.rate-fivestar-btn-filled {
  display: block;
  float: left;
  background: url(fivestar_filled.png);
  width: 15px;
  height: 15px;
  text-indent: 100px;
  overflow: hidden;
}

a.rate-fivestar-btn-empty {
  display: block;
  float: left;
  background: url(fivestar_empty.png);
  width: 15px;
  height: 15px;
  text-indent: 100px;
  overflow: hidden;
}

