.rate-widget-fivestar ul {
  list-style: none;
  overflow: hidden;
}
.rate-widget-fivestar .item-list ul li {
  background-image: none;
  padding: 0;
  margin: 0;
}
.rate-widget-fivestar ul li {
  float: left;
  list-style: none;
}
.rate-widget-fivestar ul li a {
  display: block;
  float: left;
}
.rate-fivestar-btn-filled {
  display: inline-block;
  background: url(fivestar_yellow.png);
  width: 16px;
  height: 16px;
  text-indent: -999px;
}
.rate-user .rate-fivestar-btn-filled {
  background: url(fivestar_red.png);
}
.rate-fivestar-btn-empty {
  display: inline-block;
  background: url(fivestar_empty.png);
  width: 16px;
  height: 16px;
  text-indent: -999px;
}

