.rate-widget-thumbs_up_down ul {
  list-style: none;
  overflow: hidden;
}
.rate-widget-thumbs_up_down ul li {
  background-image: none;
  padding: 0;
  margin: 0;
}
.rate-widget-thumbs_up_down ul li {
  float: left;
  list-style: none;
}
.rate-widget-thumbs_up_down ul li a {
  display: block;
  float: left;
}
.rate-thumbs-up-down-btn-up {
  display: inline-block;
  background: url(thumbs_up.png);
  width: 24px;
  height: 24px;
  text-indent: -999px;
  position: relative;
  left: 53px;
}
.rate-user .rate-thumbs-up-down-btn-up {
  background: url(thumbs_up_gray.png);
}
.rate-user .rate-thumbs-up-down-btn-up.rate-voted {
  background: url(thumbs_up.png);
}
.rate-widget-thumbs_up_down .thumb-up {
  position: relative;
  left: -20px;
}

.rate-thumbs-up-down-btn-down {
  display: inline-block;
  background: url(thumbs_down.png);
  width: 24px;
  height: 24px;
  text-indent: -999px;
}
.rate-user .rate-thumbs-up-down-btn-down {
  background: url(thumbs_down_gray.png);
}
.rate-user .rate-thumbs-up-down-btn-down.rate-voted {
  background: url(thumbs_down.png);
}

.rate-thumbs-up-down-rating-up {
  display: inline-block;
  width: 45px;
  text-align: right;
  padding-top: 3px;
}

.rate-thumbs-up-down-rating-down {
  display: inline-block;
  width: 45px;
  text-align: left;
  padding-top: 3px;
}

